.container {
  position: relative;
  padding: 20px;
  border: 2px black solid;
}
.tasks {
  padding: 10px;
}
.task {
  background-color: pink;
  border: 2px black solid;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 15px;
}
.taskcomplete {
  background-color: greenyellow;
  border: 2px black solid;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 15px;
}
.todo,
.date {
  margin-left: 25px;
}
